<% title = 'OpenMRS ID - Style Guide' %>
<% headline = 'Style Guide' %>

<h1>OpenMRS ID Style Guide</h1>

<h2>Basic panel</h2>
<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
</div>
<h3>Source code:</h3>
<pre>
<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
</div>
</pre>

<h2>Email selector example:</h2>
<div class="row">
<ul class="email-selector list-group col-md-8">

    <li class="list-group-item">

      <h3 class="list-group-item-heading">
        <span class="email-address">you@example.com</span>
        <span class="badge badge-primary">Primary</span>
        <span class="badge">Needs Verification</span>
      </h3>

      <a class="btn btn-default"
         href="/profile-email/delete/1234567890abcdef">
        <span class="text-danger">
          <span class="glyphicon glyphicon-remove"></span>
            Delete
        </span>
      </a>

       
      <a class="btn btn-default"
         href="/profile-email/primary/1234567890abcdef %>">
        <span class="text-primary">
          <span class="glyphicon glyphicon-asterisk"></span>
            Make Primary
        </span>
      </a>

    </li>

</ul>
</div>
<pre><code>
<div class="row">
<ul class="email-selector list-group col-md-8">

    <li class="list-group-item">

      <h3 class="list-group-item-heading">
        <span class="email-address">you@example.com</span>
        <span class="badge badge-primary">Primary</span>
        <span class="badge">Needs Verification</span>
      </h3>

      <a class="btn btn-default"
         href="/profile-email/delete/1234567890abcdef">
        <span class="text-danger">
          <span class="glyphicon glyphicon-remove"></span>
            Delete
        </span>
      </a>

       
      <a class="btn btn-default"
         href="/profile-email/primary/1234567890abcdef %>">
        <span class="text-primary">
          <span class="glyphicon glyphicon-asterisk"></span>
            Make Primary
        </span>
      </a>

    </li>

</ul>
</div>
</code></pre>