<% title = 'OpenMRS ID - Style Guide' %>
<% headline = 'Style Guide' %>

<% style('/styleguide/static/components/highlight-js/src/styles/default.css') %>
<% script('/styleguide/static/components/highlight-js/build/highlight.pack.js') %>
<script>hljs.initHighlightingOnLoad();</script>

<h1>OpenMRS ID Style Guide</h1>

<h2>Basic panel</h2>
<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
</div>

<h4>Source code:</h3>
<pre><code class="html">&lt;div class="panel panel-default"&gt;
  &lt;div class="panel-body"&gt;
    Basic panel example
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2>Email selector example:</h2>
<div class="row">
<ul class="email-selector list-group col-md-8">

    <li class="list-group-item">

      <h4 class="list-group-item-heading">
        <span class="email-address">you@example.com</span>
        <span class="badge badge-primary">Primary</span>
        <span class="badge">Needs Verification</span>
      </h4>

      <a class="btn btn-default"
         href="/profile-email/delete/1234567890abcdef">
        <span class="text-danger">
          <span class="glyphicon glyphicon-remove"></span>
            Delete
        </span>
      </a>

       
      <a class="btn btn-default"
         href="/profile-email/primary/1234567890abcdef %>">
        <span class="text-primary">
          <span class="glyphicon glyphicon-asterisk"></span>
            Make Primary
        </span>
      </a>

    </li>

</ul>
</div>

<h4>Source code</h3>
<pre><code class="html">&lt;div class="row"&gt;
&lt;ul class="email-selector list-group col-md-8"&gt;

    &lt;li class="list-group-item"&gt;

      &lt;h4 class="list-group-item-heading"&gt;
        &lt;span class="email-address"&gt;you@example.com&lt;/span&gt;
        &lt;span class="badge badge-primary"&gt;Primary&lt;/span&gt;
        &lt;span class="badge"&gt;Needs Verification&lt;/span&gt;
      &lt;/h4&gt;

      &lt;a class="btn btn-default"
         href="/profile-email/delete/1234567890abcdef"&gt;
        &lt;span class="text-danger"&gt;
          &lt;span class="glyphicon glyphicon-remove"&gt;&lt;/span&gt;
            Delete
        &lt;/span&gt;
      &lt;/a&gt;

       
      &lt;a class="btn btn-default"
         href="/profile-email/primary/1234567890abcdef %&gt;"&gt;
        &lt;span class="text-primary"&gt;
          &lt;span class="glyphicon glyphicon-asterisk"&gt;&lt;/span&gt;
            Make Primary
        &lt;/span&gt;
      &lt;/a&gt;

    &lt;/li&gt;

&lt;/ul&gt;
&lt;/div&gt;</code></pre>
